
.cardList{

    /* width: 700px; */
    /* margin-left: 32px; */

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    height: 210px;

  }

  .center{
    text-align: center;
  }