input:active, input:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  
}

.navbarbgd{
  background-color: #05435ecc;
}

.margin{
margin-bottom: 100px;
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: center;

/* to make the navbar on top of the display stack */
position: relative;
z-index: 50;
}
.right{
float:right;
}