.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 50px 0 90px 0;
    background-color: rgb(223, 222, 222)
}
.sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 20px 20px 13x 12px rgb(207,207,207);
    padding-top: 30px;
    border-radius: 60px;
    background-color:white;
}
.imgs{
    padding-top: 20px;
    padding-left: 0px;
    justify-content: center;
    display: flex;
}
.container-image{
    background-color: rgb(223,221, 221);
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 100px;
    width: 100px;
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 130px;
}
.user{
    padding-bottom: 10px;
    
}
.last{
    padding-bottom: 10px;
}
.first{
    padding-bottom: 10px;
}
.mail{
    padding-bottom: 10px;
}
.pass{
    padding-bottom: 50px;
}
.info{
    padding-right: 70px;
    margin-top: 50px;
    text-align: left;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    font-size:x-large;
    font-family: "Times New Roman", Times, serif;}
    .button{
        padding-left: 100px;
    }