.p1 {
    margin-top: 35px;
    font-size: 23px; /* 40px/16=2.5em */
    line-height:1.2;
    color: #192cd2;
    margin-bottom: 0px;
  }
  .p2 {
      margin-top: 0px;
    font-size: 13px; /* 40px/16=2.5em */
  }

  
  